{{template "base" .}}

{{define "content"}}
  <div class="container">
    <h1>This is the Home Page</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum
      temporibus dolorum repellendus provident quisquam nulla aspernatur eveniet
      dignissimos exercitationem nesciunt minus eum eligendi reiciendis
      accusamus error, voluptas debitis inventore. Assumenda.
    </p>
  </div>
{{end}}